# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!tcp-bulk-send.cc
!test-multi-bulk-send.cc
!nested-subdir/
!subdir/
!test.json
!sccl-sim.cc
!scratch-simulator.cc
!CMakeLists.txt
